@import url("/font-awesome-4.6.3/css/font-awesome.min.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewport {
    height: 50%;
}

.viewport.upper {
    background: linear-gradient(90deg, #185b9c 0%, #42cca0 100%);
}

.viewport.lower {
    background: linear-gradient(90deg, #a73377 0%, #d18013 100%);
}

.card {
    padding: 10px;
    display: block;
    position: absolute;
}

.viewport.upper .card {
    transform: translate(20%, 75%);
}

.viewport.lower .card {
    transform: translate(20%, 6%);
}

.viewport.upper .card img {
    height: 20vh;
}

.viewport.lower .card img {
    height: 45vh;
    position: relative;
    z-index: -999;
}
.card i {
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
}